.inner-container{
    width: 50%;
    padding: 10px;
    margin: 2% auto;
    display: block;
}

.container{
    background: #2196f3;
}

.title{
    font-size: 32px;
    font-weight: 600;
    color: #0d47a1;
}

.btn-warning{
    background: #2196f3
}