<div class="container">
    <div class="table-wrapper">
        <h1 class="text-center title">Best Track</h1>
        <div class="inner-container">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="text-center">
                            <b>Driver</b>
                        </h2>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-warning" (click)="goTo('driver')">
                            <i class="material-icons">&#xE147;</i>
                            <span>Driver</span>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="text-center">
                            <b>Area</b>
                        </h2>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-warning" (click)="goTo('area')">
                            <i class="material-icons">&#xE147;</i>
                            <span>Area</span>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="text-center">
                            <b>Order</b>
                        </h2>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-warning" (click)="goTo('customer')">
                            <i class="material-icons">&#xE147;</i>
                            <span>Order</span>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="text-center">
                            <b>Report</b>
                        </h2>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-warning" (click)="goTo('report')">
                            <i class="material-icons">&#xE147;</i>
                            <span>Report</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>